
<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>

  {{#each model as |den|}}
  <tr>
    <td>{{den.firstName}}</td>
    <td>{{den.lastName}}</td>
  </tr>

  {{/each}}

</table>